<h2>Writing in barber shop</h2>

<form action="visit" method="post">
  <div class="form-group">
    <label>Your name</label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name">

    <label>Your phone</label>
    <input name="phone" type="text" class="form-control" placeholder="Enter your phone">

    <label>Enter time</label>
    <input name="time" type="text" class="form-control" placeholder="Enter date and time">
  </div>

  <select name="variable" class="form-control">
    <option>Walter White</option>
    <option>Jessie Pinkman</option>
    <option>Gus Fring</option>
  </select>
  <br>
  <button type="submit" class="btn btn-primary">Writing</button>
</form>